# themes 

themes/custom/chatting
themes/custom/custom_barrio
themes/custom/deep_fest
themes/custom/job_portal
themes/custom/olx
themes/custom/subtheme
themes/custom/tahalul_barrio
themes/custom/task
themes/custom/training

#libraries

libraries/flexslider
libraries/owlcarousel2
libraries/slick
libraries/fonts
libraries/flexslider
libraries/fontawesome

#sites

sites/default/files/config_Z91Y-ztkKa8dW4kGWGEP_WZoKDkKL2TReISY_GEfte3eRYnkKAF2KH-7_4Xw0LaBaISahG8BkQ/sync